.form-style {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 400px;
  margin: 0 auto;
	padding: 16px;
  background: #F7F7F7;
  border-radius:8px;
  overflow:hidden;
  box-shadow: 0px 0px 0px rgba(0,0,0,.0);
  transform:translateY(0%);
  transition:.3s;
}

.form-style:hover {
  transform:translateY(-2%);
  box-shadow: 1px 8px 5px rgba(0,0,0,.2);
}
.form-style h1 {
  background: #19A9AD;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
}

.form-style input[type="text"],
.form-style input[type="email"],
.form-style input[type="password"],
.form-style input[type="number"],
.form-style input[type="tel"],
.form-style textarea {
  transition: all 0.30s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}

.form-style input[type="text"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="password"]:focus,
.form-style input[type="number"]:focus,
.form-style input[type="tel"]:focus,
.form-style textarea:focus {
  box-shadow: 0 0 5px #ACD0C0;
  padding: 3%;
  border: 1px solid #ACD0C0;
}

.form-style input[type="button"],
.form-style input[type="submit"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #19A9AD;
  color: #fff;
  font-size: 110% ;
}

.form-style input[type="button"]:hover,
.form-style input[type="submit"]:hover {
  background: #1995AD;
  text-transform: uppercase;
}