.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }
  
  .popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: 10px auto;
	  padding: 16px;
    background: #F7F7F7;
    font: 95% Arial, Helvetica, sans-serif;
	  max-width: 400px;
  }
  
  .popup_inner > h1 {
    background:#19A9AD;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
  }
  .popup_inner > button {
    position: absolute;
    background: lightgrey;
    color: white;
    top: -10px;
    right: -10px;
    border-radius: 20px;
  }

  .popup_inner > input[type="text"] {
    transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
  }

  .popup_inner > input[type="text"]:focus {
    box-shadow: 0 0 5px #ACD0C0;
    padding: 3%;
    border: 1px solid #ACD0C0;
  }

  .popup_inner > input[type="button"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #19A9AD;
    border-bottom: 2px solid #1995AD;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;	
    color: #fff;
  }

  .popup_inner > input[type="button"]:hover {
    background: #1995AD;
  }