.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-box {
  margin: 6rem 0 auto 0;
}

.main-box > main {
  margin: 1rem auto;
  padding: 2rem 2rem 1rem 2rem;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  margin: 6rem 0 auto 0;
}

.dashboard > aside {
  /* flex: 2; */
  margin: 1rem;
  padding: 1rem;
}

.dashboard > main {
  /* flex: 8; */
  margin: 1rem;
  padding: 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slider-container {
  max-height: 420px;
  max-width: 620px;
  overflow: hidden;
  margin: 1rem auto;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { right: 0%; }
  }
  
  body { margin: 0; } 
  div#slider { overflow: hidden; }
  div#slider figure img { width: 20%; float: left; }
  div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite; 
  }